@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 body {
  min-width: 1360px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

   
.mediaIcons {
  display: flex;
  margin: 50px 120px;  
}


.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

.socialContainer {
  width: 20%;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.containerTwo:hover {
  color: red;
  transition-duration: 0.3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}


.button_flip {
  display: flex;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color:#0E5D4D;
  padding: 4px 8px;
  border-radius: 4px;
  height: 31.1833px; 
  transition: background-color 0.3s, color 0.3s; 
  border: none;

}

.place-button_flip { 
  position: relative;
  top: 52%;
  left: 40%;
}

.not_active {
  border-radius: 10%;
  border: none;
  width: 7%;
  height: 2rem;
  background-color: #7451eb;
  color: white;
}

.active {
  border-radius: 10%;
  border: none;
  width: 7%;
  height: 2rem;
  background-color: white;
  color: #7451eb;;
}

.technoButtons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3%;
}

.fa-fade {
  cursor:pointer;
}


.pagination {
list-style: none;
  display: flex;
  justify-content: space-between;
  width: 5%;
  top: 116.5rem;
  position: absolute;
  left: 90%;
  padding-right: unset;
}

.pagination  .active-pagination {
display: flex;
  background-color: black;
 align-items: center;
  color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
}

.pagination  li {
  display: flex;
    background-color: white;
    align-items: center;
    color:black;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
  }

  .pagination .previous,
.pagination .next {
  display: none;
}


.col-row {
padding : 2rem;
  ul  {
  padding-right:unset;
}
  li {
  padding-bottom: 0.55rem;
  }
}